/**


Form Style


**/

select, input[type=submit] {
    border-radius: 5px;
    height: 40px;
    font-weight: bolder;
    font-family: Tahoma;
    font-size: 22px;
    color: #0b0509;
    background-color: #b0dcff;
}

input[type=submit]{
    background-color: #b6bdda;
    border-radius: 8px;
    border: 2px solid darkgreen;
}

button, input[type=button]{
    font-size: 16pt;
    font-weight: bolder;
    background-color: #87daa2;
    border-radius: 12px;
    border: 2px solid black;
    cursor: pointer;
}





/**


Page Blocks Style


**/



div.header{
    border: 1px solid black;
    border-radius: 12px;
    /*position: relative;*/
    padding: 10px;
    display: block;
}

body {
    width: 99%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 20pt;
    background-color: #f4f3ff;
    position: fixed;
    text-align: center;
    font-weight: bolder;
}

a {
    font-size: 18pt;
    font-family: Arial, Times New Roman, Tahoma, Verdana;
    color: black;
    font-weight: bolder;
    text-decoration: none;
    background-color: #8cb38b;
}

.showCalc tr{
    border-radius: 10px;
    border: 7px solid darkblue;
}

a:hover{
    background-color: #8cb38b;
}

a:active {
    background-color: #39b3a7;
}



.infoChoise {
    top: 0px;
    position: absolute;
    left: 93%;
}

.infoChoise img{
    width: 80px;
    height: 80px;
}

.infoChoiseLeft {
    left: 1%;
}

#prir{
    position: absolute;
    top: 20%;
    left: 62%;
}

#squareResult{
    display: block;
    width: 100%;
    /*margin-left: 31%;*/
    position: relative;
}

#squareResult div{
    left: 50%;
}

#squareResult #prir{
    left: 65%;
}

/**


Error Style


**/



.errAddMsg{
    background-color: darkgreen;
    color: black;
    overflow: scroll;
    width: 100%;
    height: 180px;
}
.errAddMsrSystem {
    font-size: 18px;
    overflow: auto;
    width: auto;
    height: auto;
}

.opacity {
    opacity: 0.7;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: aquamarine;
    top: -8px;
    left: -8px;
}

.error {
    width: 100%;
    height: 100%;
    display: table;
    position: absolute;
    top: -8px;
    left: -8px;
    text-align: center;
    font-family: Arial;
    font-size: 29px;
    font-weight: bolder;
}

.errTextCont {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.titleErrDb {
    display: inline-table;
    background-color: red;
    border-radius: 8px 8px 0 0;
    border: 2px solid crimson;
    color: blue;
    opacity: 1;
    vertical-align: middle;
}

.texterr {
    display: inline-table;
    background-color: burlywood;
    color: black;
    opacity: 1;
    border: 2px solid crimson;
    border-radius: 0 0 8px 8px;
    max-width: 1000px;
    vertical-align: middle;
}













/**



Table Style


**/
.result {
    width: 100%;
    height: 89%;
    display: table;
}

.result div {
    width: 80%;
    display: table-cell;
    /*vertical-align: middle;*/
}

#result{
    width: 80%;
    display: inline-table;
    cursor: pointer;
}

table{
    font-weight: bolder;
    font-family: Tahoma;
    font-size: 18pt;
    border: 6px ridge #220d4d;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    border-collapse: collapse;
}

tr {
    border: 2px solid darkblue;
}

td {
    border: 2px solid darkblue;
    padding: 2px;
    padding-left: 5px;
}

.redLeft {
    border-right: 6px solid #da1713;
}

.redBottom {
    border-bottom : 6px solid #da1713;
}

.isActive {
    background-color: #f8ef00;
}

#modal {
    display: none;
}

#modal, #modal table, #modal td, #modal tr, #modal div{
    font-size: 22px;
}

#modal input[type=button]{
    font-size: 18px;
}

.ui-widget{
    font-size: 18px;
}

.ui-dialog .ui-dialog-titlebar{
    padding: 0;
}






/**





Statistics



*/

.statistic{
    width: 100%;
    display: block;
}

.showPosition{
    width: 35%;
    height: 100%;
    float: left;
    text-align: center;
}

.statisticResultPos{
    float: left;
    text-align: center;
    font-size: 16pt;
    font-family: Verdana;
    font-weight: 600;
    width: 30%;
}

.statistic .tblPosition{
    font-size: 14px;
}

.statistic .tblPosition tr, .statistic .tblPosition td {
    margin : 0;
    padding: 10;
} 

.statistic .tblPosition .selectedTr1{
    font-size: 12px;
}

.statistic table{
    display: inline-block;
}

.oneArr{
    background-color: #82b489;
    color: black;
}

.selectedTr1{
    background-color: #6b8cb4;
    color: #d6ff02;
    font-size: 28px;
}

.stat{
    font-size: 14px;
}

.selectedTr{
    font-size: 16px;
}
.sumPrice {
    background-color: #13c7ff;
}

.cursPointer{
    cursor: pointer;
}



/***






choise position














*/


.positionNumber {
    width: 60px;
    float: left;
    position:absolute;
    left: 85%;
    top: 18%;
}

.positionNumberOne{
    cursor: pointer;
    border: 2px solid black;
    border-radius: 25px;
}

.choise1{
    background-color: red;
}
.choise2{
    background-color: rgb(41, 183, 118);
}
.choise3{
    background-color: rgb(162, 44, 153);
}
.choise4{
    background-color: rgb(162, 0, 88);
}
.choise5{
    background-color: rgb(44, 140, 219);
}
.choise6{
    background-color: rgb(13, 0, 219);
}
.choise7{
    background-color: rgb(80, 255, 31);
}
.choise8{
    background-color: #265400;
}
.choise9{
    background-color: rgb(61, 84, 69);
}
.choise10{
    background-color: rgb(139, 0, 0);
}
